body{
  background-color: black;
  text-align: center;
  font-family: "Verdana", sans-serif;
  color: white;
}

h1{
  font-size: 50px;
  font-weight: normal;
}

h2{
  font-weight: 300;
  font-size: 42px;
}

.download{
  font-size: 16px;
  color: aquamarine;
}

p{
  font-family: verdana;
  font-size: : 21px;
  color: gray;

}

.footer{
  color: grey;
  text-align: right;
}
